<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="ExtentReportManager"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="EaseMyTrip">
        <classes>
            <class name="tests.LoginAndSearchFlightTest"/>
            <class name="tests.ReviewTest"/>
            <class name="tests.TravellerDetailsTest"/>
            <class name="tests.PaymentMethodTest"/>
        </classes>
    </test>
</suite>